:root {
	--primary-font: 'Arial', sans-serif;
	--text-color: #3d114e;
	--text-color-secondary: #3bf53e;
	--accent-color: #bebb00;
	color: var(--text-color);
	cursor: crosshair;
	font-family: var(--primary-font);
	font-size: calc(0.5em + 1vw);
	letter-spacing: 0.0025em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	color: var(--text-color);
	background: var(--text-color-secondary);
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-columns: minmax(min-content, 25%) 1fr;
	overflow: hidden;
	height: 100vh;
}

a {
	color: var(--text-color);
	font-weight: normal;
	text-decoration: none;
}

a:focus,
a:hover {
	cursor: help;
	text-decoration: underline;
	background-color: var(--text-color-secondary);
}

/* MENU */

.menu__wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	border-right: 1px solid var(--text-color);
	height: 100%;
}

.menu--title {
	font-size: 1.6rem;
	font-weight: 400;
	margin: 0;
	padding: 2rem 1rem;
	border-bottom: 1px solid var(--text-color);
}

.menu--nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1rem;
	font-size: 1.6rem;
	margin: 1rem 0;
	height: fit-content;
}

.menu--nav a {
	list-style: none;
	margin: 4px 8px 4px 0;
}

.menu--nav a::after {
	content: ', ';
}

.menu--nav a:last-of-type::after {
	content: '';
}

.menu__secondary {
	font-size: 1.6rem;
	border-top: 1px solid var(--text-color);
	padding: 2rem 1rem;
	position: relative;
	bottom: 0;
}

/* BIO SUB PAGE MAIN */

#subpage-bio {
	grid-column: 1 / 3;
	margin: 4rem 10%;
	border: 0;
	padding: 0;
}

#subpage-bio h1 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1rem;
}

#subpage-bio div {
	margin-bottom: 2rem;
}

#subpage-bio ul li {
	list-style: none;
	padding: 0;
}

/* MAIN PROJECT SECTION */

main {
	overflow-y: scroll;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

section {
	border-right: 1px dashed var(--text-color);
	padding: 1.5em;
}

section:last-of-type {
	border-right: 0;
}

p {
	line-height: 125%;
}

figure {
	float: left;
	width: 15em;
	max-width: 100%;
	margin-left: 0;
}

figure::after {
	clear: both;
}

img {
	width: 100%;
	opacity: 0.5;
	transition-timing-function: ease-out;
	transition: 0.5s;
}

img:hover,
img:focus {
	opacity: 1;
	transition-timing-function: ease-in;
	transition: 0.5s;
}

figcaption {
	font-style: italic;
	font-size: 0.8em;
}

/* Breakpoint */
@media (max-width: 788px) {
	body {
		grid-template-columns: 1fr;
	}

	header {
		border-right: 0;
		border-bottom: 1px solid red;
	}

	nav {
		position: inherit;
	}
}
