@import 'fonts.css';

:root {
	/* --primary-font: 'op3', sans-serif; */
	--primary-font: 'Arial', sans-serif;
	/* --light-font: 'op2', sans-serif; */
	--light-font: 'Arial', sans-serif;
	--alt-font: 'op1', sans-serif;
	--menu-color: #464646;
	--text-color: #662eff;
	/* --text-color-secondary: rgb(0, 255, 16); */

	--text-color-secondary:rgb(232, 230, 234);
	--accent-color: #fb00d4;
	color: var(--text-color);
	cursor: crosshair;
	font-family: var(--primary-font);
	font-size: 14px;
	letter-spacing: 0.0025em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	color: var(--text-color);
	background: var(--text-color-secondary);
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-columns: minmax(min-content, 20%) 1fr;
	overflow: hidden;
	height: 100vh;
}

p {
	line-height: 125%;
}

a {
	font-weight: normal;
	text-decoration: none;
	line-height: 125%;
}

a:focus,
a:hover {
	cursor: none;
	text-decoration: none;
}

.menu__wrapper a {
	color: var(--menu-color);
}

.main__wrapper a {
	color: var(--text-color);
}

.menu--nav a:hover,
.menu--title a:hover,
.menu--contact a:hover {
	color: var(--text-color);
	background: var(--text-color-secondary);
}

/* MENU */

.menu__wrapper {
	color: var(--menu-color);
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
justify-content: flex-start;
	height: 100vh;
	position: sticky;
	left: 0;
	top: 0;
	padding: 0 2vw;
}

.menu--title {
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	padding: 2rem 0;
text-transform: uppercase;
	background: white;
	color: var(--menu-color);
}

.menu--nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1rem 0;
	margin: 1rem 0;
	height: fit-content;
	background: white;
	border-radius: 2rem 0 0 2rem;
}

.menu--nav a {
	list-style: none;
}

.menu--nav a::after {
	content: ', ';
}

.menu--nav a:last-of-type::after {
	content: '';
}

.menu--contact {
	background: white;
	padding: 2rem 0;
	flex-grow: 1;
  align-content: end;
}

.vline {
	border-left: 1px solid var(--accent-color);
	height: 100%;
	position: fixed;
	top: 0;
	left: 5rem;
	z-index: -2;
}

/* BIO SUB PAGE MAIN */

/* #subpage-bio {
	grid-column: 1 / 3;
	margin: 4rem 10%;
	border: 0;
	padding: 0;
}

#subpage-bio h1 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1rem;
}

#subpage-bio div {
	margin-bottom: 2rem;
}

#subpage-bio ul li {
	list-style: none;
	padding: 0;
} */

/* MAIN PROJECT SECTION */

.main__wrapper {
	overflow-y: scroll;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 3fr 1fr;
	color: var(--text-color);
	padding: 1rem 2vw 1rem 4vw;
}

.main__projects {
	grid-column: 1/3;
}

.main__projects article {
	display: grid;
	grid-template-columns: 24vw 1fr;
	padding: 4rem 0 8rem 0;
	font-size: 16px;
	grid-column-gap: 2rem;
}

.main__projects .projects--home {
	padding: 0rem 0 4rem 0;
	height: 96vh;
	width: 100%;
	display: grid;
	place-items: center;
}

.main__projects .projects--home img {
	height: auto;
	width: 50vh;
	margin: 0;
	opacity: 1;
	filter: invert(0);
	grid-column: 1/4;
	/* border: 1px solid var(--accent-color);
	border-style: none solid solid none; */
}

.main__projects .divider {
	width: 100%;
	height: 4px;
	background: var(--text-color-secondary);
	/* background: radial-gradient(
		circle,
		rgba(0, 255, 16, 1) 0%,
		rgba(0, 255, 16, 1) 1%,
		rgba(255, 255, 255, 0) 3%
	); */
	grid-column: 1/4;
}

.main__projects .project__details {
	grid-column: 1;
}

.main__projects .project__content {
	grid-column: 2/4;
}

.main__projects .project__imgs {
	grid-column:1/4;
	margin: 1rem 0;
}

.main__projects h1 {
	font-weight: 400;
	margin: 1rem 0;
	font-size: 16px;
	text-transform: uppercase;
}

.main__projects h1 + h1 {

}

.main__projects ul {
	padding: 0;
	margin: 1rem 0;
	font-size: 16px;
}

.main__projects li {
	list-style: none;

}

.main__projects p {
	text-align: justify;
	font-family: var(--light-font);
}

.main__projects img {
	width: 100%;
}

.main__projects .project__screening {
grid-column: 2;
}

img {
	width: 100%;
	opacity: 0.75;
	transition-timing-function: ease-out;
	transition: 0.75s;
	filter: invert(60%);
}

img:hover,
img:focus {
	opacity: 1;
	transition-timing-function: ease-in;
	transition: 0.75s;
	filter: invert(0%);
}

/* Breakpoint */
@media (max-width: 788px) {
	body {
		grid-template-columns: 1fr;
	}

	header {
		border-right: 0;
		border-bottom: 1px solid var(--text-color);
	}

	nav {
		position: inherit;
	}
}
