@import 'fonts.css';

:root {
	--primary-font: 'op3', sans-serif;
	--light-font: 'op2', sans-serif;
	--alt-font: 'op1', sans-serif;
	--menu-color: #3a08c4;
  --text-color: #662eff;
	--text-color-secondary: #996a0b;
	--accent-color: #bebb00;
	color: var(--text-color);
	cursor: crosshair;
	font-family: var(--primary-font);
	font-size: calc(0.65em + 0.5vw);
	letter-spacing: 0.0025em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	color: var(--text-color);
	background: var(--text-color-secondary);
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-columns: minmax(min-content, 20%) 1fr;
	overflow: hidden;
	height: 100vh;
}

p {
	line-height: 125%;
}

a {
	font-weight: normal;
	text-decoration: none;
}

a:focus,
a:hover {
	cursor: none;
	text-decoration: none;
}

.menu__wrapper a {
	color: var(--menu-color);
}

.main__wrapper a {
	color: var(--text-color);
}
	.menu--nav a:hover {
	color: var(--text-color);
	background: var(--text-color-secondary);
}

/* MENU */

.menu__wrapper {
	color: var(--menu-color);
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	/* border-right: 1px solid var(--text-color); */
	height: 100vh;
	position: sticky;
	left: 0;
	top: 0;
	/* background: rgb(0, 255, 42); */
	/* background: linear-gradient(
		90deg,
		rgba(0, 255, 42, 1) 0%,
		rgba(255, 255, 255, 1) 80%,
		rgba(255, 255, 255, 1) 100%
	); */
}

.menu--title {
	/* font-size: 1.25rem; */
	font-weight: 400;
	margin: 0;
	padding: 2rem 1rem;
	/* border-bottom: 1px solid var(--text-color-secondary);
	border-right: 1px solid var(--text-color-secondary); */
	background: white;
	color: var(--menu-color);
}

.menu--nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1rem;
	/* font-size: 1.6rem; */
	margin: 1rem 0;
	transform: translateX(8px);
	height: fit-content;
	background: white;
	border-radius: 2rem 0 0 2rem;
}

.menu--nav a {
	list-style: none;
	margin: 4px 8px 4px 0;
}

.menu--nav a::after {
	content: ', ';
}

.menu--nav a:last-of-type::after {
	content: '';
}

.menu--contact {
	/* font-size: 1.6rem; */
	background: white;
	padding: 2rem 1rem;
	/* border-top: 1px solid var(--text-color-secondary);
	border-bottom: 1px solid var(--text-color-secondary);
	border-radius: 0 4rem 0 0; */
}

.vline {
	border-left: 1px solid var(--text-color-secondary);
	height: 100%;
	position: fixed;
	top: 0;
	left: 5rem;
	z-index: -2;
}

/* BIO SUB PAGE MAIN */

/* #subpage-bio {
	grid-column: 1 / 3;
	margin: 4rem 10%;
	border: 0;
	padding: 0;
}

#subpage-bio h1 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1rem;
}

#subpage-bio div {
	margin-bottom: 2rem;
}

#subpage-bio ul li {
	list-style: none;
	padding: 0;
} */

/* MAIN PROJECT SECTION */

.main__wrapper {
	overflow-y: scroll;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 3fr 1fr;
	color: var(--text-color);
}

.main__projects {
	padding: 1rem 1rem 1rem 4rem;
	grid-column: 1/3;
}

.main__projects article {
	border-top: 1px solid var(--text-color-secondary);
	padding: 2rem 0 4rem 0;
}

.main__projects h1 {
	text-transform: uppercase;
}

.main__projects h1 + h1 {
	margin-top: -1rem;
}

.main__projects ul {
	padding: 0;
}

.main__projects li {
	list-style: none;
	font-size: 0.7rem;
	/* font-family: var(--light-font); */
}

.main__projects p {
	text-align: justify;
	font-family: var(--light-font);
}

.main__projects img,
.main__projects .screening {
	width: 80%;
	margin-left: 20%;
}

.main__projects .screening h5 {
	text-transform: uppercase;
}

.main__projects .screening li::before {
	content: ' >';
	margin-right: 4px;
}

.main__projects .screening li {
	font-size: 1rem;
}

.main__projects .screening span {
	padding: 0 16px;
	color: var(--text-color-secondary);
}

.main__notes {
	/* border-left: 1px dashed var(--text-color); */
	padding: 1rem;
	/* grid-row: 1/3; */
	grid-column: 2;
}

/* .main__archive {
	border-top: 1px dashed var(--text-color-secondary);
	padding: 1rem;
	grid-column: 1 / 3;
	grid-row: 2;
} */

img {
	width: 100%;
	opacity: 0.75;
	transition-timing-function: ease-out;
	transition: 0.75s;
	filter: invert(60%);
}

img:hover,
img:focus {
	opacity: 1;
	transition-timing-function: ease-in;
	transition: 0.75s;
	filter: invert(0%);
}

/* Breakpoint */
@media (max-width: 788px) {
	body {
		grid-template-columns: 1fr;
	}

	header {
		border-right: 0;
		border-bottom: 1px solid var(--text-color);
	}

	nav {
		position: inherit;
	}
}
