:root {
	color: red;
	cursor: crosshair;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,
html {
	margin: 0;
	padding: 0;
}

::selection {
	color: red;
	background: greenyellow;
}

body {
	display: grid;
	grid-template-columns: minmax(min-content, 25%) 1fr;
	overflow: hidden;
	height: 100vh;
}

/* HEADER */

header {
	padding: 0 1rem;
	border-right: 1px solid red;
	height: 100%;
}

header h1 {
	font-size: 2rem;
	font-weight: 400;
}

header nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0;
	font-size: 1.6rem;
}

header nav div + div {
	position: fixed;
	bottom: 1rem;
}

header nav a {
	list-style: none;
	margin: 4px 8px 4px 0;
}

header nav a::after {
	content: ', ';
}

header nav a:last-of-type::after {
	content: '';
}

main {
	overflow-y: scroll;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

/* Links */
nav {
	margin: 1rem 0;
	height: fit-content;
}

a {
	color: red;
	font-weight: normal;
	text-decoration: none;
}

a:focus,
a:hover {
	cursor: help;
	text-decoration: underline;
}

/* Headings */
h1 {
	margin-bottom: 0;
}

h2 {
	font-style: italic;
	font-weight: normal;
	font-size: 1.1em;
	mmargin-top: 0.25em;
}

h3 {
	margin: 0;
	font-style: italic;
	text-decoration: underline;
}

h4 {
	font-weight: normal;
	font-style: italic;
	font-size: 1em;
	margin-top: 0.25em;
}

/* Body Text */
section {
	border-right: 1px dashed red;
	padding: 1.5em;
}

section:last-of-type {
	border-right: 0;
}

p {
	line-height: 150%;
}

/* Images */
figure {
	float: left;
	width: 15em;
	max-width: 100%;
	margin-left: 0;
}

figure::after {
	clear: both;
}

img {
	width: 100%;
	opacity: 0.5;
	transition-timing-function: ease-out;
	transition: 0.5s;
}

img:hover,
img:focus {
	opacity: 1;
	transition-timing-function: ease-in;
	transition: 0.5s;
}

figcaption {
	font-style: italic;
	font-size: 0.8em;
}

/* Footer */

/* Breakpoint */
@media (max-width: 788px) {
	body {
		grid-template-columns: 1fr;
	}

	header {
		border-right: 0;
		border-bottom: 1px solid red;
	}

	nav {
		position: inherit;
	}
}
